/* Variables will follow */

   //colors
   $body-background-color: rgb(26, 0, 106);
   $form-background-color: gray;
   $input-color: gray;
   $headlines-color : gray;

   body {
    background-color: $body-background-color;          
}